<div class="footer">
<div class="container">
  <div *ngFor="let item of ('assets/package.json' | fetch) ">
    <div class="left-footer">
  <img src="{{item.footer.img1}}" style="width: 120px; height: 120px">
  <img src="{{item.footer.img2}}" style="padding-left: 45px">
    </div>
    <div class="center-footer">
    <a href="">{{item.footer.number}}</a>
    </div>
    <div class="right-footer">
      <a href="https://cocky-mcnulty-0c1250.netlify.app/..."><img src="{{item.footer.img3}}" style="padding-right: 25px"></a>
      <a href="https://cocky-mcnulty-0c1250.netlify.app/..."><img src="{{item.footer.img4}}"></a>
    </div>
  </div>
  </div>
  </div>
