<div id="subscriptions">
  <img src="../assets/images/subscriptions-bg.png" class="background-3">
  <div class="container">
    <div *ngFor="let item of ('assets/package.json' | fetch) ">
      <p class="title">{{item.subscriptions[3].title}}</p>
      <div class="abonamente">
        <div class="subscription" style="border: 4px solid #FF0000;">
          <h1>{{item.subscriptions[0].title}}</h1>
          <h2>{{item.subscriptions[0].price}}</h2>
          <p>{{item.subscriptions[0].info.a}}</p>
          <p>{{item.subscriptions[0].info.b}}</p>
          <p>{{item.subscriptions[0].info.c}}</p>

        </div>
        <div class="subscription" style="border: 4px solid #F5834E;">
          <h1>{{item.subscriptions[1].title}}</h1>
          <h2>{{item.subscriptions[1].price}}</h2>
          <p>{{item.subscriptions[1].info.a}}</p>
          <p>{{item.subscriptions[1].info.b}}</p>
          <p>{{item.subscriptions[1].info.c}}</p>
        </div>
        <div class="subscription" style="border: 4px solid #FFDF5D;">
          <h1>{{item.subscriptions[2].title}}</h1>
          <h2>{{item.subscriptions[2].price}}</h2>
          <p>{{item.subscriptions[2].info.a}}</p>
          <p>{{item.subscriptions[2].info.b}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
