@media only screen and (max-width: 767px) {
  .thanks {
    font-size: 48px;
  }
}
  @media only screen and (min-width: 767px) {
    .thanks{
      font-size: 64px;
    }
}
.map{
  width: 100%;
  position: relative;
  background-color: white;
  z-index: 1;
}
#map {
  width: 100%;
  height: 500px;
}
.thanks{
  padding-top: 10px;
  margin-bottom: 150px;
  text-align: center;
  font-family: Rouge Script, sans-serif;
}
