<div id="all">
<div class="map">
<div class="container">
  <div id="map"></div>
  <div *ngFor="let item of ('assets/package.json' | fetch) ">
    <p class="thanks">{{item.contacts.thanks}}</p>
  </div>
</div>
</div>
</div>
