
<div id="contact">
<div class="container">
  <div *ngFor="let item of ('assets/package.json' | fetch) ">
<p class="title">{{item.contacts.title}}</p>
    <form>
      <p class="mess">{{item.contacts.inputs.title}}</p>
      <input id="name" type="text" placeholder="{{item.contacts.inputs.name}}">
      <input id="number" type="text" placeholder="{{item.contacts.inputs.number}}" >
      <input id="email" type="text" placeholder="{{item.contacts.inputs.email}}" type=""email>
      <textarea id="message" placeholder="{{item.contacts.inputs.message}}"></textarea>
      <button class="button" (click)="condition = !condition">{{item.contacts.inputs.button}}</button>
    </form>
    <h1>{{item.contacts.dates.name}}</h1>
    <div class="my-contacts">
    <div class="phone">
      <img src="{{item.contacts.dates.phone.img}}">
      <a href="">{{item.contacts.dates.phone.number}}</a>
    </div>

    <div class="mail">
      <img src="{{item.contacts.dates.mail.img}}">
      <a href="">{{item.contacts.dates.mail.email}}</a>
    </div>
    </div>
  </div>
  </div>
</div>

<div class="send-message" *ngIf="!condition">
  <span>✓</span><p>Datele au fost trimise cu succes</p>
</div>
