@media only screen and (max-width: 767px) {
  .title{
    font-size: 48px;
  }
  h1{
    font-size: 48px;
  }
  .my-contacts{
    display: block;
  }
.mess{
  font-size: 42px;
}
  #number{
    margin-top: 20px;
    margin-left: 0px;
  }
#name, #number, #email{
  width: 100%;
}
}
@media only screen and (min-width: 767px) {
  .title{
    font-size: 64px;
  }
  .mess{
    font-size: 60px;
  }
  h1{
    font-size: 64px;
  }
  .my-contacts{
    display: flex;
  }
  #name, #number{
    width: 48%;
  }
  #number{
    margin-left: 20px;
  }
  #email{
    width: 50%;
  }
}
#contact{
  width: 100%;
  margin-top: -20px;
  position: relative;
  background-color: white;
  z-index: 1;
}
.title{
  text-align: center;
  font-family: Rouge Script, sans-serif;
  padding-bottom: 25px;
  color: #33A00C !important;
}
.mess{
  text-align: center;
  font-family: Rouge Script, sans-serif;
}
#name{
  height: 50px;
  font-family: Rouge Script, sans-serif;
  padding: 0 10px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 32px;
}
#number{
  height: 50px;
  font-family: Rouge Script, sans-serif;
  padding: 0 10px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 32px;
}
#email{
  height: 50px;
  font-family: Rouge Script, sans-serif;
  padding: 0 10px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#message{
  height: 200px;
  font-family: Rouge Script, sans-serif;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 32px;
  margin-top: 30px;
}

.button{
  font-size: 32px;
  font-family: Rouge Script, sans-serif;
  height: 60px;
  border: none;
  background: #60adfc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px 19px;
  margin-left: auto;
  text-align: center;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  margin-top: 40px;
}
h1{
  font-family: Rouge Script, sans-serif;
  color: #F04E4C;
  margin: 100px 0 30px;
}
.my-contacts{
  font-family: Rouge Script, sans-serif;
  width: 100%;
  padding-bottom: 50px;
}
.mail{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img{
  margin-top: -10px;
  height: 24px;
}
a{
  padding-left: 6px;
  font-size: 32px;
  color: #000000;
}
.send-message{
  z-index: 100000;
  background-color: green;
  margin-bottom: 10px;
  margin-left: 2%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  display: flex;
  opacity: 0.6;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 97%;
}
span{
  font-weight: bold;
  font-size: larger;
  font-size: 34px;
}
p{
  font-size: 22px;
  margin-top: 10px;
}
