@media only screen and (min-width: 991px) {
  .hamburger-menu{
    display: none;
  }
  #mes{
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 991px) {
  #img-2 {
    width: 170px;
    height: 170px
  }
  #mes{
    width: 60px;
    height: 60px;
  }
}
@media only screen and (min-width: 767px) {
  #menu1, #menu2, #menu3, #menu4, .img-change{
    position: absolute;
  }
}
@media only screen and (max-width: 767px) {
  #img-2 {
    width: 130px;
    height: 130px
  }

  .element{
    display: none;
  }
  .img-change{
    margin-top: 45px;
  }
  #menu1, #menu2, #menu3, #menu4, .img-change{
    position: fixed;
  }
}
.hamburger-menu{
  width: 100%;
  background-color: #FF0000;
}
.img-change{
  position: fixed;
  top: 30px;
  right: 21px;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  z-index: 100000;
}
.hamburger-active{
  position: fixed;
  background-color: gray;
  display: flex;
  z-index: 100000;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
}
.menu-items{
  z-index: 100000;
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.menu-items a{
  text-decoration: none;
}
.language{
  display: flex;
  justify-content: center;
  margin-left: 60px;
  margin-top: 25px;
  cursor: pointer;
}
.menu-items a{
  color: white;
  font-family: Rouge Script, sans-serif;
  font-size: 32px;
  padding-top: 20px;
  text-align: center;
}
.menu-items a:hover{
  text-decoration: underline;
}


.main{
  width: 100%;
  top: 0;
  height: 100vh;
  background-image: url("https://www.lotzl.lebork.pl/files/gallery/3947/jazda-konna.jpg");
  background-position: left;
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#img-2 {
  position: absolute;
  margin-top: auto;
  padding: 32px;
  z-index: 100;
}
#mes{
  box-sizing: initial;
  position: fixed;
  z-index: 10000;
  bottom: 0;
  right: 0;
  padding: 30px;
}
.element{
  right: 64px;
  position: fixed;
  top: 140px;
  text-align: end;
  font-size: 22px;
  font-family: Rouge Script, sans-serif;
}
#menu1, #menu2, #menu3, #menu4{
  right: -8px;
  position: fixed;
  box-sizing: initial;
  margin-top: 86px;
  padding: 32px;
  width: 24px;
  height: 24px;
  z-index: 10000;
}
p{
  padding-bottom: 20px;
}
