<div id="promotion">
  <div *ngFor="let item of ('assets/package.json' | fetch) ">

    <div class="container">
      <p class="title">{{item.promotion[0].title}}</p>
  <div class="promo-1">
    <img src="{{item.promotion[1].img}}" class="clock-img">
    <h1>{{item.promotion[1].name}}</h1>
    <p>{{item.promotion[1].info}}</p>
  </div>

  <div class="promo-2">
    <img src="{{item.promotion[2].img}}" class="clock-img">
    <h1>{{item.promotion[2].name}}</h1>
    <p>{{item.promotion[2].info}}</p>
  </div>
</div>
</div>
</div>
