@media only screen and (max-width: 767px) {
  .title{
    font-size: 48px;
  }
  h1{
    font-size: 42px;
  }
  p{
    font-size: 24px;
  }
  .clock-img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: -60px;
  }
}
@media only screen and (min-width: 767px) {
  .title{
    font-size: 64px;
  }
  h1{
    font-size: 64px;
  }
  p{
    font-size: 32px;
  }
  .clock-img{
    width:  90px;
    height: 90px;
    margin-left: -32px;
    margin-bottom: -113px;
  }
}
#promotion{
  width: 100%;
  position: relative;
  background-color: white;
  z-index: 1;
}
.title{
  text-align: center;
  font-family: Rouge Script, sans-serif;
  line-height: 75px;
  padding-bottom: 25px;
  color: #33A00C !important;
}
p, h1{
  font-family: Rouge Script, sans-serif;
  margin-left: 70px;
}
h1{
  margin-bottom: 30px;
}

