@media only screen and (max-width: 767px) {
  .btn-prev, .btn-next{
    display: none;
  }
}
.authors{
  position: relative;
  background-color: white;
  z-index: 1;
}
.elements{
  margin-top: 50px;
  padding-left: 57px;
  font-family: Rouge Script, sans-serif;
  padding-bottom: 30px;
}
.author{
  width: 120px;
  height: 120px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
a, h1{
  font-size: 24px;
  text-decoration: none;
  font-weight: normal;
  color: #000000;
}
.phone-number, .email{
  display: flex;
}
.phone-number img, .email img{
  width: 18px;
  height: 18px;
  margin-top: 3px;
  padding-right: 5px;
}
.btn-prev{
  float: left;
  margin-left: -32px;
}
.btn-next{
  float: right;
  margin-right: -32px;
}
button{
  font-family: "slick";
  background-color: white;
  margin-top: -159px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1;
  color: black;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
}
