@media only screen and (max-width: 767px) {
  .info{
    width: 500px;
  }
  .base{
    margin-left: 0px;
  }
  .title-1{
    font-size: 48px;
  }
  .background{
    display: none;
  }
}
@media only screen and (max-width: 420px){
  .horses img{
    width: 330px;
    height: 220px;
  }
  .info{
    width: 330px;
  }
}
@media only screen and (max-width: 1240px){
  .service{
    padding-right: 30px;
  }
}
@media only screen and (min-width: 767px) {
  .horses img{
    width: 208px;
    height: 146px;
  }
  .info{
    width: 208px;
  }
  .service{
    padding-right: 35px;
  }
}
@media only screen and (min-width: 992px) {
  .horses img {
    width: 280px;
    height: 210px;
  }
  .info{
    width: 280px;
  }
}
@media only screen and (min-width: 1240px){
  .service{
    padding-right: 115px;
  }
}

.services {
  width: 100%;
  position: relative;
  background-color: white;
  z-index: 1;
}
.base{
  margin-top: -65px;
}
.title-1{
  text-align: center;
  font-family: Rouge Script, sans-serif;
  font-size: 64px;
  padding-top: 50px;
  padding-bottom: 25px;
  color: #33A00C !important;
}
.background{
  position: absolute;
  right: 0;
  margin-top: -109px;
}

.test{
  display: inline-block;
}
.horses img{
  background-color: blanchedalmond;
  position: relative;
  z-index: 100;
}
.info{
  font-family: Rouge Script, sans-serif;
  position: relative;
  background-color: white;
}
.text{
  font-size: 14px;
  font-family: Rouge Script, sans-serif;
  padding-left: 25px;
}
.title-2{
  font-size: 14px;
  font-family: Rouge Script, sans-serif;
  padding-left: 25px;
}
.more{
  font-family: Rouge Script, sans-serif;
  text-align: right;
  color: #FF0000;
  padding: 8px 25px 5px;
  cursor: pointer;
  font-size: 18px;
}

.price{
  font-size: 18px;
  font-family: Rouge Script, sans-serif;
  padding-left: 25px;
}


.column img {
  vertical-align: middle;
}

.row{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.column{
  z-index: 100;
  margin-bottom: 65px;
  box-shadow: 0px 6px 8px #888888;
}



