<div id="fotosesii">
  <img src="../assets/images/photo-bg.png" class="background-2">
  <div class="container">
  <div *ngFor="let item of ('assets/package.json' | fetch) ">
  <div class="title">
    <p>{{item.fotosesii.title}}</p>
  </div>
  <div class="row-1">
    <div class="column" style=" background-image: url('https://images.pexels.com/photos/1996333/pexels-photo-1996333.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
    </div>
    <div class="column-1" style="background-image: url('https://cdn.pixabay.com/photo/2017/10/31/07/49/horses-2904536__340.jpg'); padding-right: 15px"></div>
    <div class="column-1" style="background-image: url('https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2019/12/931/524/horse.jpg?ve=1&tl=1');   padding-right: 15px;
"></div>


  </div>
    <div class="row-2">
      <div class="column-2" style="background-image: url('https://i.pinimg.com/originals/36/05/2a/36052ac0ffaa8efa6fbd4d8cdb3e7c47.jpg');   padding-right: 15px;
"></div>
      <div class="column-2" style="background-image: url('https://equestrianprovider.co.uk/wp-content/uploads/2017/02/shiny-coat-stock.jpg');   padding-right: 15px;
"></div>
      <div class="column-2" style="background-image: url('https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/14/2020/03/Alamy-winged-horse-BD08B3.jpg');   padding-right: 15px;
"></div>

    </div>
  </div>
</div>
</div>
